body {
    padding: 20px;
}

#list-categories {
    list-style-type: none;
    padding: 0;
}
.item-category {
    padding: 10px;
    border: solid 1px #f3f3f3;
    margin: 10px;
}
.item-category:hover, .item-category:active {
    cursor: pointer;
    background-color: #9c9c9c;
}